
.banner__info{
  width: 580px;
  height: 100px;
  padding-left: 1.50rem;
  padding-right: 1.50rem;
  margin: 2px;
  
}

.banner__info-presentacion{
  text-align: left;
  font-size: 2rem;
  font-weight: italic;
 
}

.banner__info-formacion{
  text-align: left;
  font-size: 1rem;
  
}