.banner__lista{
}

.banner__redes{
  display: flex;
  font-size: 12px;
  justify-items: center;
}

.redes__item{
  list-style: none;
  padding: 10px;
}

.redes__link{
  color: black;
  margin-right: .5rem;
  text-decoration: none;
  
}


